@page "{id?}"
@model DotNetAGram.Pages.Posts.EditModel
@{
    Layout = null;
    ViewData["Title"] = "Edit Post";
}

<div>
    <label asp-for="Post.Author"></label>

    <label asp-for="Post.PostDate"></label>
</div>
<div>
     <img src="@Model.Post.ImageURL" />
</div>
<form method="post">
    <textarea rows="5" asp-for="Post.Description">@Model.Post.Description</textarea>

    <button type="submit">Save Changes</button>
</form>

<a asp-page="/Posts/Index" asp-route-id="@Model.Post.ID">Back</a>
