@page "{id}"
@model DotNetAGram.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "View Post";
}

<div>
    <label asp-for="Post.Author"></label>

    <label asp-for="Post.PostDate"></label>
</div>
<div>
    <a asp-page="/Posts/Index" asp-route-id="Post.ID">
        <img src="@Model.Post.ImageURL" />
    </a>
</div>
<div>
    <p>Post.Description</p>
</div>

<a asp-page="/Posts/Edit" asp-route-id="@Model.Post.ID">Edit Description</a>

