@page
@using DotNetAGram.Models.Interfaces

@inject IPost  PostServices

@{ 
    var posts = await PostServices.GetAllPosts();
}

@foreach (var post in posts)
{
    <h1>@post.Author</h1>
    <h3>@post.PostDate</h3>
    <img src=@post.ImageURL />
    <p>@post.Description</p>
}